/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
body {
  height: 100vh;
}
.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 3px;
  /* border-color: chartreuse; */
}

.age-calculator-card {
  width: 500px;
  height: 500px;
  background-color: rgb(229, 227, 237);
  padding: 1rem;
  border-color: rgb(255, 0, 51);
  border-bottom-right-radius: 78px;
  /* border-style: solid;
  border-width: 3px; */
}

.inputs {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(217, 3, 114);
  color: antiquewhite;
  padding-bottom: 1rem;
  position: relative;
}
.btn-inputs {
  position: absolute;
  right: 0;
  top: 50px;
  border-radius: 50%;
  background-color: rgb(144, 130, 238);
  cursor: pointer;
}
input {
  max-width: 4.5rem;
  height: 2rem;
}
input::placeholder {
  color: red;
  font-size: 1rem;
}
h1 {
  font-size: 4rem;
}
